<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../public/xuArticle/bootstarp/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/xuArticle/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../public/xuArticle/css/common.css">
    <link rel="stylesheet" href="../../public/xuArticle/css/article.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>Title</title>
</head>
<body>
<header class="main-header pt40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="topTitle"><a class="">标题</a></p>
            </div>
        </div>
    </div>
</header>
<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li><a href="#">导航</a></li>
                    <li><a href="#">导航</a></li>
                    <li><a href="#">导航</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<section class="content-wrap mb50">
    <div class="container">
        <div class="row">
            <main class="col-lg-9 main-content">
                <article class="articleList articleCon">
                    <div class="articleTitle mb10"><p><a class="classify" href="#">javascript</a><a class="title" href="#">标题标题标题标题标题标题标题标题标题标题</a></p></div>
                    <p class="authSpan">
                        <span class="muted"><i class="fa fa-user"></i> 夏洛克丶旭</span>
                        <span class="muted"><i class="fa fa-clock-o"></i> 2018-01-01</span>
                        <span class="muted"><i class="fa fa-eye"></i> 阅读(500)</span>
                        <span class="muted articlepl"><i class="fa fa-commenting"></i><a href="#">评论(30)</a></span>
                        <span class="muted dz"><i class="fa fa-thumbs-up"></i>点赞(500)</span>
                    </p>

                    <div class="articleAbstract mt40 mb40">
                        文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容
                        文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容
                        文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容
                        文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容
                        文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容
                        文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容
                        文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容
                        文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容
                        文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容
                        文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容
                        文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容
                        文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容
                        文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容
                        文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容
                        文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容
                        文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容
                        文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容

                        <p class="text-center dianzan mt50"><span><i class="fa fa-thumbs-up fa-2x"></i>&nbsp;&nbsp;赞</span></p>
                    </div>
                </article>
                <div class="publish">
                    <h4 class="feedbackTitle mb20">发表评论</h4>
                    <div id="Editor">
                        <p>简单点,评论的方式简单点...</p>
                    </div>
                    <p class="text-right mt10"><button type="button" class="btn btn-info submit">发&nbsp;&nbsp;送</button></p>
                </div>
                <div class="commentList mt20 pt20">
                    <h4 class="feedbackTitle mb20">评论列表</h4>
                    <div class="commentCon" style="text-align:initial">
                        <ul class="blog-comment">
                            <li>
                                <div class="commentParent">
                                    <div class="info">
                                        <span class="username"><img class="userIco" src="../../public/xuArticle/images/timthumb.jpg" align="center" />夏洛克·福尔摩斯</span>
                                    </div>
                                    <div class="commentText">
                                        整条街的智商都被你拉低了
                                    </div>
                                    <p class="info info-footer text-right mb5"><span class="time">2017-04-18 18:09</span><a class="btn-reply" href="javascript:;">回复</a></p>
                                    <div class="commentChild">
                                        <div class="info">
                                            <span class="username pr10"><img class="userIco" src="../../public/xuArticle/images/timthumb.jpg" />艾琳·艾德勒</span><span class="hf">回复:</span><span>我就知道你动心了</span>
                                        </div>
                                        <p class="info info-footer text-right"><span class="time">2017-04-18 18:26</span></p>
                                    </div>
                                    <div class="commentChild">
                                        <div class="info">
                                            <span class="username pr10"><img class="userIco" src="../../public/xuArticle/images/timthumb.jpg" />艾琳·艾德勒</span><span class="hf">回复:</span><span>我就知道你动心了</span>
                                        </div>
                                        <p class="info info-footer text-right"><span class="time">2017-04-18 18:26</span></p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="commentParent">
                                    <div class="info">
                                        <span class="username"><img class="userIco" src="../../public/xuArticle/images/timthumb.jpg" align="center" />夏洛克·福尔摩斯</span>
                                    </div>
                                    <div class="commentText">
                                        整条街的智商都被你拉低了
                                    </div>
                                    <p class="info info-footer text-right mb5"><span class="time">2017-04-18 18:09</span><a class="btn-reply" href="javascript:;">回复</a></p>
                                    <div class="commentChild pb5">
                                        <div class="info">
                                            <span class="username pr10"><img class="userIco" src="../../public/xuArticle/images/timthumb.jpg" />艾琳·艾德勒</span><span class="hf">回复:</span><span>我就知道你动心了</span>
                                        </div>
                                        <p class="info info-footer text-right"><span class="time">2017-04-18 18:26</span></p>
                                    </div>
                                    <div class="commentChild pb5">
                                        <div class="info">
                                            <span class="username pr10"><img class="userIco" src="../../public/xuArticle/images/timthumb.jpg" />艾琳·艾德勒</span><span class="hf">回复:</span><span>我就知道你动心了</span>
                                        </div>
                                        <p class="info info-footer text-right"><span class="time">2017-04-18 18:26</span></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </main>
            <aside class="col-lg-3 sidebar">
                <div class="widget mb20">
                    <h4 class="title">分类</h4>
                    <div class="content">
                        <ul>
                            <li><a href="#">Vue</a></li>
                            <li><a href="#">Node.js</a></li>
                            <li><a href="#">javascript</a></li>
                        </ul>
                    </div>
                    <p class="upDown text-center"><i class="fa fa-angle-double-down fa-4x"></i></p>
                </div>
                <div class="widget mb20">
                    <h4 class="title">阅读排行榜</h4>
                    <div class="content">
                        <ul>
                            <li><a href="#">使用 javascript API -- fetch 实现文件下载功能(2374)</a></li>
                            <li><a href="#">使用 javascript API -- fetch 实现文件下载功能(2374)</a></li>
                            <li><a href="#">使用 javascript API -- fetch 实现文件下载功能(2374)</a></li>
                            <li><a href="#">使用 javascript API -- fetch 实现文件下载功能(2374)</a></li>
                            <li><a href="#">使用 javascript API -- fetch 实现文件下载功能(2374)</a></li>
                        </ul>
                    </div>
                    <p class="upDown text-center"><i class="fa fa-angle-double-down fa-4x"></i></p>
                </div>
            </aside>
        </div>
    </div>
</section>
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><span>Copyright © </span><a href="#">主页</a><span><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备xxxxxx号</a></span></div>
        </div>
    </div>
</footer>



<script src="../../public/xuArticle/js/jquery-2.2.0.min.js"></script>
<script src="../../public/xuArticle/bootstarp/js/bootstrap.min.js"></script>
<script src="../../public/xuArticle/js/common.js"></script>
<script type="text/javascript" src="../../public/xuArticle/wangEditor/release/wangEditor.min.js"></script>
<script type="text/javascript">
    var E = window.wangEditor
    var editor = new E('#Editor')
    // 自定义菜单配置
    editor.customConfig.menus = [
        'head',  // 标题
        'bold',  // 粗体
        'fontSize',  // 字号
        'fontName',  // 字体
        'italic',  // 斜体
        'underline',  // 下划线
        'strikeThrough',  // 删除线
        'foreColor',  // 文字颜色
        'backColor',  // 背景颜色
        'link',  // 插入链接
        'list',  // 列表
        'justify',  // 对齐方式
        'quote',  // 引用
        'emoticon',  // 表情
        'image',  // 插入图片
        'table',  // 表格
        'code',  // 插入代码
        'undo',  // 撤销
        'redo'  // 重复
    ]
    editor.customConfig.uploadImgShowBase64 = true
    editor.create()
</script>
</body>
</html>


