.tie-area div,.tie-area dl,.tie-area dt,.tie-area dd,.tie-area ul,.tie-area ol,.tie-area li,.tie-area h1,.tie-area h2,.tie-area h3,.tie-area h4,.tie-area h5,.tie-area h6,.tie-area pre,.tie-area code,.tie-area form,.tie-area fieldset,.tie-area legend,.tie-area input,.tie-area button,.tie-area textarea,.tie-area p,.tie-area blockquote,.tie-area th,.tie-area td{margin:0;padding:0}
.tie-area h1,.tie-area h2,.tie-area h3,.tie-area h4,.tie-area h5,.tie-area h6{font-size:100%}
.tie-area ol,.tie-area ul{list-style:none}
.tie-area address,.tie-area caption,.tie-area cite,.tie-area code,.tie-area dfn,.tie-area em,.tie-area strong,.tie-area th,.tie-area var,.tie-area optgroup{font-style:normal}
.tie-area input,.tie-area button,.tie-area textarea,.tie-area select,.tie-area optgroup,.tie-area option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;*font-size:100%}
.tie-area fieldset,.tie-area img,.tie-area a img,.tie-area :link img,.tie-area :visited img{border:0}
.tie-area a{text-decoration:none}
.tie-area a:hover{text-decoration:underline}
.tie-area :focus{outline:0}
.tie-area table{border-collapse:collapse;border-spacing:0}
.tie-area caption,.tie-area th{text-align:left}
.tie-area sup,.tie-area sub{font-size:100%;vertical-align:baseline}
.tie-area blockquote,.tie-area q{quotes:none}
.tie-area blockquote:before,.tie-area blockquote:after,.tie-area q:before,.tie-area q:after{content:'';content:none}
.strongClr{color:#cc1b1b}
.lght_txt_clr{color:#888}
.tie-area{font:12px/1.5 "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1","Helvetica Neue",Helvetica,tahoma,Arial;background-color:#fff;color:#555;text-align:left;font-family:"\5B8B\4F53",sans-serif;border-top:5px solid #242424}
.tie-area .bv-icon{background:url(http://img5.cache.netease.com/tie/images/bv1.0_icon_15x15.png) no-repeat;width:15px;height:15px;display:inline-block;vertical-align:sub;*vertical-align:middle}
.tie-area .single-tie{background-color:#fff;border-bottom:dotted 1px #ddd;overflow:hidden;padding:22px 10px 0 0}
.tie-area .single-tie:hover{background:url(http://img1.cache.netease.com/tie/img/rec.png) repeat left top}
.tie-area .single-tie .photo{float:left;width:35px;height:35px;margin-right:-50px;border-radius:50%;position:relative}
.tie-area .single-tie .photo .photo-link{display:block;width:100%;height:100%;position:relative;z-index:3}
.tie-area .single-tie .photo img{width:35px;height:35px;border-radius:50%}
.tie-area .single-tie .photo.z-dflt{background:url(http://timge4.126.net/image?w=35&h=35&url=http://img5.cache.netease.com/tie/images/noface80_80.png&gif=1&quality=85) no-repeat}
.tie-area .single-tie .photo .bv-icon{position:absolute;bottom:0;right:-3px;z-index:5}
.tie-area .single-tie .tie-bdy{float:right;width:100%}
.tie-area .single-tie .tie-bdy .bdy-inner{margin-left:70px}
.tie-area .single-tie .tie-author .name{color:#006b9c;line-height:1.5em;display:inline-block;height:1.5em;margin-right:5px}
.tie-area .single-tie .tie-author .name:hover{color:#cc1b1b;text-decoration:underline}
.tie-area .single-tie .tie-author .name-desp,.tie-area .single-tie .tie-author .name-title{color:#006b9c;line-height:1.5em;display:inline-block;height:1.5em;margin-right:5px;margin:0 5px 0 0}
.tie-area .single-tie .tie-author .name-desp,.tie-area .single-tie .tie-author .name-ip{color:#888}
.tie-area .single-tie .tie-author .name-title{color:#cc1b1b}
.tie-area .single-tie .tie-author .name-title:hover{text-decoration:underline}
.tie-area .single-tie .tie-author .name-desp,.tie-area .single-tie .tie-author .name-ip{*float:left}
.tie-area .single-tie .tie-author .name-desp .bv-icon{margin-left:2px;margin-right:4px}
.tie-area .single-tie .tie-author .name-desp .mgz{margin-left:3px;margin-right:0}
.tie-area .single-tie>.tie-bdy>.bdy-inner>.tie-author{margin:0 0 10px 0;*overflow:hidden;*margin:0}
.tie-area .single-tie .tie-time{color:#888;margin:0 0 8px 0;float:right}
.tie-area .single-tie .tie-checking{margin:5px 0}
.tie-area .single-tie .tie-cnt{font-size:14px;word-wrap:break-word;margin:10px 0 20px 0;line-height:1.5em}
.tie-area .single-tie .tie-cnt img{width:1.5em;vertical-align:middle}
.tie-area .single-tie .tie-voice{line-height:40px}
.tie-area .single-tie .tie-voice .icon{width:40px;height:40px;cursor:pointer;background-color:#fff}
.tie-area .single-tie .tie-voice .icon-voice{background-position:0 -400px}
.tie-area .single-tie .tie-voice .icon-voice:hover{background-position:-80px -320px}
.tie-area .single-tie .tie-voice .icon-voice-load{background-image:url(http://img5.cache.netease.com/tie/images/comment2015/voice_loading.gif)}
.tie-area .single-tie .tie-voice .icon-voice-play{background-position:-80px -400px}
.tie-area .single-tie .tie-voice .icon-voice-play:hover{background-position:-160px -400px}
.tie-area .single-tie .tie-voice .voice-length{margin:0 2px}
.tie-area .single-tie .tie-from{float:left;max-width:400px;overflow:hidden;color:#666}
.tie-area .single-tie .tie-from .from-link{color:#666}
.tie-area .single-tie .tie-from .from-link:hover{color:#555;text-decoration:underline}
.tie-area .single-tie .tool-bar{overflow:hidden;margin:0 0 12px 0}
.tie-area .single-tie .tool-bar.z-audit{visibility:hidden;padding:0;height:31px}
.tie-area .single-tie .tool-bar.z-visible{visibility:visible;margin:0}
.tie-area .single-tie .tool-bar.z-visible .m-tool li .tie-operate{padding-bottom:8px}
.tie-area .single-tie .tool-bar.z-visible-share{visibility:visible}
.tie-area .single-tie .tool-bar .m-tool{float:right;position:relative;z-index:4}
.tie-area .single-tie .tool-bar .m-tool li{float:left;position:relative;padding:0 0 5px 0}
.tie-area .single-tie .tool-bar .m-tool li .tie-operate{display:inline-block;min-width:15px;text-align:center;color:#006b9c;padding:0 10px}
.tie-area .single-tie .tool-bar .m-tool li .tie-operate:hover{color:#cc1b1b;text-decoration:underline}
.tie-area .single-tie .tool-bar .m-tool li .tie-operate .u-num{margin:0}
.tie-area .single-tie .tool-bar .m-tool li .tie-operate.operate-top .u-num{color:#cc1b1b}
.tie-area .single-tie .tool-bar .m-tool li .tie-operate.operate-top:hover{color:#cc1b1b}
.tie-area .single-tie .tool-bar .m-tool li .tie-operate.z-visited{cursor:text;text-decoration:none}
.tie-area .single-tie .tool-bar .m-tool li .tie-operate.z-active{font-weight:bold}
.tie-area .single-tie .tool-bar .m-tool li:last-child .tie-operate{padding-right:0}
.tie-area .single-tie .tool-bar .m-tool .add-one,.tie-area .single-tie .tool-bar .m-tool .del-one{position:absolute;top:-45px;left:20px;color:#cc1b1b;font-size:38px;font-family:"Georgia";z-index:9;display:none}
.tie-area .single-tie .tool-bar .m-tool .del-one{color:#0ea1d8}
.tie-area .single-tie .tool-bar .arrow{position:absolute;top:9px;left:15px;width:20px;height:10px;z-index:-1}
.tie-area .single-tie .tool-bar .arrow .arrow-top{position:absolute;top:0;left:0;display:block;width:0;height:0;border-style:solid;border-width:10px;border-top-color:transparent;border-right-color:transparent;border-bottom-color:#dbdcdc;border-left-color:transparent}
.tie-area .single-tie .tool-bar .arrow .arrow-btm{position:absolute;top:1px;left:0;display:block;width:0;height:0;border-style:solid;border-width:10px;border-top-color:transparent;border-right-color:transparent;border-bottom-color:#fff;border-left-color:transparent}
.tie-area .single-tie .tool-bar .arrow.z-fcs .arrow-top{border-bottom-color:#a1a1a1}
.tie-area .single-tie .tool-bar .arrow.z-fcs .arrow-btm{border-bottom-color:#fff}
.tie-area .single-tie .tool-bar-i{text-align:right;font-size:14px}
.tie-area .single-tie .tool-bar-i .publis-success,.tie-area .single-tie .tool-bar-i .enter-my-tie{display:inline-block;width:145px;height:35px;margin:5px 0 5px 20px;color:#888}
.tie-area .single-tie .tool-bar-i .enter-my-tie{background-color:#fff}
.tie-area .single-tie .tool-bar-i .enter-my-tie{border:solid 1px #ddd;text-align:center;line-height:35px;cursor:pointer}
.tie-area .single-tie .tool-bar-i .enter-my-tie:hover{color:#555}
.tie-area .single-tie .tool-bar-i .icon-pub-suc{background-position:-40px -640px;width:21px;height:21px;margin:0 5px 0 0}
.tie-area .single-tie .tool-bar-i .icon-enter-i{background-position:-80px -640px;width:12px;height:12px;margin:-2px 0 0 5px}
.tie-area .single-tie .tie-post-form{margin:-2px 0 0 0}
.tie-area .single-tie .tie-post-form .tie-post-area{padding-left:0}
.tie-area .single-tie .tie-post-form .tie-post-area .post-area-photo{display:none}
.tie-area .single-tie .tie-post-form .tie-login-submit{padding:0 0 20px 0}
.tie-area .single-tie .tie-post-form .tie-login-submit .js-loginInput{margin:8px 0 0 0}
.tie-area .single-tie .tie-post-form .tie-login-submit .tie-author-login .post-btn{background-position:-100px 1px;width:94px;height:36px;line-height:36px;color:#555}
.tie-area .single-tie .tie-post-form .tie-login-submit .tie-author-login .post-btn:hover{background-position:-100px -35px}
.tie-area .single-tie .tie-post-form .tie-login-submit .tie-author-login .js-save,.tie-area .single-tie .tie-post-form .tie-login-submit .tie-author-login .auto-login-txt{display:none}
.tie-area .single-tie.z-only-one .tie-post-form{margin-left:-70px}
.tie-area .floor-tie{background-color:#ffe;padding:3px;border:solid 1px #aaa;*clear:both}
.tie-area .floor-tie.z-hover{border-color:#a1a1a1}
.tie-area .floor-tie.z-parallel-floor{border-top:0}
.tie-area .floor-tie .tie-author{position:relative;margin:5px 5px 13px 5px;overflow:hidden}
.tie-area .floor-tie .tie-author .floor-NO{position:absolute;right:0;bottom:0;color:#666}
.tie-area .floor-tie .tie-cnt{margin:0 5px}
.tie-area .floor-tie .tie-voice{padding:22px 10px 0}
.tie-area .floor-tie .tie-post-form .tie-login-submit{margin:0 4px}
.tie-area .floor-tie .tie-post-form .tie-login-submit .author-name,.tie-area .floor-tie .tie-post-form .tie-login-submit .author-pwd{width:140px}
.tie-area .floor-tie .tie-post-form .tie-login-submit .author-name .tie-textbox,.tie-area .floor-tie .tie-post-form .tie-login-submit .author-pwd .tie-textbox{width:107px}
.tie-area .floor-tie .floor-tie-self>.tool-bar{visibility:hidden;padding:0 5px 0 0;margin:0}
.tie-area .floor-tie .floor-tie-self>.tool-bar.z-visible{visibility:visible}
.tie-area .floor-tie .floor-tie-self>.tool-bar.z-visible-share{visibility:visible}
.tie-area .floor-tie .floor-tie-self>.tool-bar .m-tool li{padding:0 0 5px 0}
.tie-area .floor-tie .floor-tie-self>.tool-bar .m-tool li .arrow{top:9px}
.tie-area .floor-tie .floor-tie-self:hover>.tool-bar{visibility:visible}
.tie-area .floor-tie .floor-tie-self .tie-author .name-desp{color:#006b9c}
.tie-area .floor-tie .floor-tie-self .tie-author .name-desp .name-ip{margin:0 0 0 5px}
.tie-area .floor-tie .floor-tie-self .tie-author .name-desp .flr-ip{margin-left:5px}
.tie-area .floor-tie .floor-tie-self .tie-post-form .tie-post-area .post-area-input{margin:0 4px}
.tie-area .floor-tie .tie-post-form .tie-login-submit{padding:0 0 4px 0}
.tie-area .floor-tie .hide-middle-posts{padding:5px 0;overflow:hidden}
.tie-area .floor-tie .hide-middle-posts .hide-posts-text{margin:0 10px;color:#666;display:block;width:100%}
.tie-area .floor-tie .hide-middle-posts .hide-posts-text .expend-txt{color:#cc1b1b;margin:0 0 0 5px}
.tie-area .floor-tie .hide-middle-posts .hide-posts-text:hover .hide-flr-num{color:#cc1b1b}
.tie-area .icon{background:url(http://img5.cache.netease.com/tie/images/comment2015/icons0922.png) no-repeat;display:inline-block;vertical-align:middle}
.tie-area .icon_share_arr{background:url(http://img1.cache.netease.com/tie/images/sprites_3.2.png) no-repeat 0 0}
.tie-area .tie-sprite{background-image:url(http://img1.cache.netease.com/tie/img/tie3.png);background-repeat:no-repeat}
.tie-area .tie-hot .hot-head{overflow:hidden}
.tie-area .tie-hot .hot-head h2{font-family:\5fae\8f6f\96c5\9ed1;font-size:16px;font-weight:normal;float:left;margin:10px 0 0 0;color:#252525}
.tie-area .tie-hot .hot-head .tie-rule{float:right;color:#888;margin:6px 0 0 0;display:none}
.tie-area .tie-hot .hot-head .tie-rule:hover{color:#555}
.tie-area .tie-newest{padding:0 0 30px 0;overflow:hidden}
.tie-area .tie-newest .newest-head{overflow:hidden}
.tie-area .tie-newest .newest-head h2{font-family:\5fae\8f6f\96c5\9ed1;font-size:16px;font-weight:normal;float:left;margin:30px 0 0 0;color:#252525}
.tie-area .tie-newest .show-all-tie{display:block;text-align:center;line-height:36px;background-color:#eef6ff;border:1px solid #c9d5e2;margin-top:20px;color:#006b9c}
.tie-area .tie-newest .show-all-tie:hover{background-color:#f5faff;color:#1e50a2}
.tie-area .tie-hot,.tie-area .tie-newest{border-top:solid 1px #e5e5e5;padding-top:5px}
.tie-area .tie-hot a,.tie-area .tie-newest a{color:#555;text-decoration:none}
.tie-area .tie-hot .tie-list,.tie-area .tie-newest .tie-list{margin:25px 0 0 0}
.tie-area .tie-hot .single-tie:last-child,.tie-area .tie-newest .single-tie:last-child{border-bottom:0}
.tie-area .tie-page{margin:20px 0}
.tie-area .tie-page .page-btn,.tie-area .tie-page .page-num{color:#555;font-size:12px;margin:0 1px 0 2px;padding:0 8px;display:inline-block;height:22px;line-height:22px;border:solid 1px #ccc;border-radius:2px;vertical-align:middle;background-color:#fff;text-decoration:none}
.tie-area .tie-page .page-num:hover{border-color:#666}
.tie-area .tie-page .page-num.z-current{color:#fff;background-color:#cc1b1b}
.tie-area .tie-page .page-btn{height:24px;line-height:24px;background-color:#f5f3f4}
.tie-area .tie-page .page-btn:hover{background-color:#fdfdfd}
.tie-area .tie-page .page-btn.z-disabled{cursor:default;color:#a1a1a1}
.tie-area .empty-tip{display:none;font-size:18px;text-align:center;padding:85px 0}
.tie-area .empty-tip .tip-to-plaza{margin:0 0 0 5px;font-size:16px;text-decoration:none;color:#006b9c}
.tie-area .empty-tip .tip-to-plaza:hover{text-decoration:underline;color:#cc1b1b}
.tie-area .tie-title-bar,.tie-area .tie-count-bar{line-height:30px;clear:both;overflow:hidden;text-align:left;padding:18px 0;font-size:14px}
.tie-area .tie-title-bar strong,.tie-area .tie-count-bar strong{float:left;font-family:\5fae\8f6f\96c5\9ed1;font-size:16px;background:url(http://img1.cache.netease.com/tie/img/god.png) repeat left -123px;width:123px;height:31px}
.tie-area .tie-title-bar .tie-info,.tie-area .tie-count-bar .tie-info{float:right;font-size:12px}
.tie-area .tie-title-bar .tie-info .tie-actCount,.tie-area .tie-count-bar .tie-info .tie-actCount{color:#cc1b1b;font-family:Georgia;font-size:24px;padding-right:8px}
.tie-area .tie-title-bar .tie-info .info-line,.tie-area .tie-count-bar .tie-info .info-line{padding:0 10px;color:#dcdcdc}
.tie-area .tie-count-bar{padding:0 0 5px 0;border-top:0;line-height:29px}
.tie-area .tie-count-bar strong{display:none;color:#252525}
.tie-area .tie-count-bar .tie-byMobile,.tie-area .tie-count-bar .tie-reg{color:#2a2a2a}
.tie-area .tie-count-bar .tie-byMobile:hover,.tie-area .tie-count-bar .tie-reg:hover{color:#cc1b1b}
.tie-area .tie-count-bar .tie-byMobile em{display:inline-block;width:18px;height:16px;background-position:-78px top;vertical-align:middle;margin-right:2px;margin-top:-3px}
.tie-area .tie-count-bar.z-only-input{margin-top:20px}
.tie-area .tie-count-bar.z-only-input strong{display:inline;background:0}
.tie-area .tie-post-form{zoom:1;clear:both}
.tie-area .tie-post-form .tie-post-area{position:relative;height:108px;padding-left:108px}
.tie-area .tie-post-form .tie-post-area .post-area-photo{width:66px;height:66px;border:1px solid #dbdcdc;position:absolute;border-right-width:0;left:0;top:0;padding:20px 21px 20px 20px}
.tie-area .tie-post-form .tie-post-area .post-area-photo .area-photo-nohover{background:url(http://timge4.126.net/image?w=65&h=65&url=http://img5.cache.netease.com/tie/images/noface80_80.png&gif=1&quality=85) no-repeat;display:block;width:65px;height:65px;border-radius:50%;overflow:hidden}
.tie-area .tie-post-form .tie-post-area .post-area-photo .area-photo-icon{display:block;width:65px;height:65px;background:url(http://timge4.126.net/image?w=65&h=65&url=http://img5.cache.netease.com/tie/images/noface80_80.png&gif=1&quality=85) no-repeat;border-radius:50%;overflow:hidden}
.tie-area .tie-post-form .tie-post-area .post-area-photo .area-photo-icon:hover{background-image:url(http://img1.cache.netease.com/tie/img/tie3.png);background-position:left -108px}
.tie-area .tie-post-form .tie-post-area .post-area-input{position:relative;border:1px solid #dbdcdc;height:106px;overflow:hidden;_left:0}
.tie-area .tie-post-form .tie-post-area .post-area-input .tie-textarea{width:99%;height:102px;border-width:0;background:#fff url(http://comment.news.163.com/images/post_body_bg.gif) no-repeat center center;font-size:14px;clear:both;text-align:left;color:#555;overflow-x:hidden;overflow-y:auto;resize:none;outline:0;-webkit-appearance:none;padding:5px 0 0 5px;_padding:0}
.tie-area .tie-post-form .tie-post-area .post-area-input .area-input-tips{width:98%;height:95px;padding:12px 0 0 15px;font-size:14px;clear:both;text-align:left;color:#888;position:absolute;top:0;left:0}
.tie-area .tie-post-form .tie-login-submit{clear:both;text-align:left;line-height:24px;padding-top:10px;overflow:hidden}
.tie-area .tie-post-form .tie-login-submit .textbox-hover .author-name{border-color:#aad2ff}
.tie-area .tie-post-form .tie-login-submit .textbox-hover .author-pwd{border-color:#aad2ff #aad2ff #aad2ff #dcdddd}
.tie-area .tie-post-form .tie-login-submit .js-loginInput{float:left;margin:0}
.tie-area .tie-post-form .tie-login-submit .author-name,.tie-area .tie-post-form .tie-login-submit .author-pwd{float:left;background:#fff;width:170px;height:26px;line-height:26px;border:1px solid #dcdddd;font-size:12px;position:relative;overflow:hidden}
.tie-area .tie-post-form .tie-login-submit .author-pwd{margin-left:-1px}
.tie-area .tie-post-form .tie-login-submit .author-name em{display:inline-block;width:18px;height:14px;background-position:-43px 0;margin-left:6px;position:absolute;top:6px}
.tie-area .tie-post-form .tie-login-submit .author-pwd em{display:inline-block;width:18px;height:16px;background-position:-60px 0;margin-left:6px;position:absolute;top:4px}
.tie-area .tie-post-form .tie-login-submit .tie-textbox{width:137px;height:26px;line-height:26px;border-width:0;position:absolute;left:30px;outline:0;-webkit-appearance:none}
.tie-area .tie-post-form .tie-login-submit .login-result{color:#cc1b1b;margin:0 0 0 5px}
.tie-area .tie-post-form .tie-login-submit .tie-author-logon{position:relative;zoom:1;line-height:32px;height:32px;color:#1e50a2;float:left}
.tie-area .tie-post-form .tie-login-submit .tie-author-logon a,.tie-area .tie-post-form .tie-login-submit .tie-author-logon a:visited{color:#006b9c}
.tie-area .tie-post-form .tie-login-submit .tie-author-logon a:hover{color:#bb180b}
.tie-area .tie-post-form .tie-login-submit .tie-author-logon .js-tie-myhome{margin:0 18px 0 0}
.tie-area .tie-post-form .tie-login-submit .tie-author-login{float:right}
.tie-area .tie-post-form .tie-login-submit .tie-author-login input{width:13px;height:13px;display:inline-block;position:relative;top:-1px;vertical-align:middle;margin-right:7px}
.tie-area .tie-post-form .tie-login-submit .tie-author-login .post-btn{background-position:0 -73px;width:101px;height:34px;line-height:34px;text-align:center;display:inline-block;color:#fff;font-size:14px;text-decoration:none}
.tie-area .tie-post-form .tie-login-submit .tie-author-login .post-btn:hover{background-position:0 -39px}
.tie-area .tie-post-form .tie-login-submit .tie-author-login .auto-login-txt{margin:0 7px 0 0}
.tie-area .tie-reminder{color:#ccc;padding:0 0 15px 0}
.tie-area .tie-urs-area{display:none}
.tie-area .tie-urs-area .urs-mask{position:fixed;top:0;left:0;width:100%;height:100%;overflow:hidden;opacity:.6;z-index:99998;background:#000}
.tie-area .tie-urs-area .urs-wrap{position:fixed;z-index:99999;left:50%;top:50%;width:380px;margin-left:-190px;height:361px;margin-top:-210px}
.tie-area .tie-urs-area .urs-wrap .cls-btn{position:absolute;top:0;right:0;width:50px;height:49px;background:url(http://img6.cache.netease.com/tie/images/sdk/urs_close.png) no-repeat;cursor:pointer}
.tie-area .tie-urs-area .urs-wrap .cls-btn:hover{transform:none;background-position:0 -50px}
.tie-area .tie-ad-bar{display:block;height:55px;position:relative;overflow:hidden}
.tie-area .tie-ad-bar a{display:block;height:100%}
.tie-area .tie-ad-bar img{width:100%;height:100%}
.tie-area .tie-ad-bar .ad_hover_href{width:30px;height:17px;position:absolute;bottom:0;left:auto;right:40px;background:url(http://static.ws.126.net/f2e/www/index20170701/images/xt_close_ad.png) no-repeat 0 0}
.tie-area .tie-ad-bar .ad_close_fixed{width:40px;height:17px;line-height:300px;overflow:hidden;display:block;position:absolute;right:0;bottom:0;z-index:10;cursor:pointer;background:url(http://static.ws.126.net/f2e/www/index20170701/images/xt_close_ad.png) no-repeat -30px 0}
.shareListWin{position:absolute;top:-999px;left:-999px;width:85px;border:1px solid #dbdcdc;box-shadow:1px 1px 5px #dbdcdc;background:#fff;z-index:999;padding:5px 0}
.shareListWin .shareSnsBtn{display:block;width:20px;height:16px;margin:1px 5px 0;text-decoration:none;overflow:hidden;float:left;background:url(http://img5.cache.netease.com/tie/images/sdk/share_1.png) no-repeat}
.shareListWin .shareSnsBtn.weibo{background-position:0 0;border-bottom:0}
.shareListWin .shareSnsBtn.weibo:hover{background-position:0 -20px}
.shareListWin .shareSnsBtn.qzone{background-position:-20px 0;margin:1px 2px 0 6px}
.shareListWin .shareSnsBtn.qzone:hover{background-position:-20px -20px}
.shareListWin .shareSnsBtn.yixin{background-position:-40px 0;margin-right:0}
.shareListWin .shareSnsBtn.yixin:hover{background-position:-40px -20px}
.shareListWin .arrow{position:absolute;top:27px;left:38px;width:10px;height:5px;z-index:-1}
.shareListWin .arrow .arrow-top{position:absolute;top:0;left:0;display:block;width:0;height:0;border-style:solid;border-width:5px;border-top-color:#fff;border-right-color:transparent;border-bottom-color:transparent;border-left-color:transparent;z-index:2}
.shareListWin .arrow .arrow-btm{position:absolute;top:1px;left:0;display:block;width:0;height:0;border-style:solid;border-width:5px;border-top-color:#dbdcdc;border-right-color:transparent;border-bottom-color:transparent;border-left-color:transparent}
body .post_comment .tie-area .tie-ad-bar{background:url(http://img5.cache.netease.com/tie/2017/5/ent_ceremony_v8_660.jpg) no-repeat}
body.w9 .post_comment .tie-area .tie-ad-bar{background:url(http://img5.cache.netease.com/tie/2017/5/ent_ceremony_v8_600.jpg) no-repeat}
body .post_comment.w9 .tie-area .tie-ad-bar{background:url(http://img5.cache.netease.com/tie/2017/5/ent_ceremony_v8_840.jpg) no-repeat}
body.w9 .post_comment.w9 .tie-area .tie-ad-bar{background:url(http://img5.cache.netease.com/tie/2017/5/ent_ceremony_v8_600.jpg) no-repeat}
.phone-bind-mask{position:fixed;width:100%;top:0;left:0;bottom:0;background-color:#000;opacity:.75;filter:alpha(opacity=75);z-index:99}
.rename-alert-msg{position:fixed;top:50%;left:50%;margin-left:-190px;margin-top:-180px;z-index:100}
.rename-alert-msg{width:380px;height:360px;background:#fff;border-radius:4px;font-family:"Microsoft YaHei"}
.rename-alert-msg .clear{clear:both;height:0;overflow:hidden;display:block}
.rename-alert-msg .clearfix{*zoom:1}
.rename-alert-msg .clearfix:after{clear:both;height:0;overflow:hidden;display:block;visibility:hidden;content:"."}
.rename-alert-msg .rename-header{position:relative}
.rename-alert-msg .rename-header .close-btn{position:absolute;top:0;*top:3px;right:0;width:50px;height:49px;background:url(http://img6.cache.netease.com/tie/images/sdk/urs_close.png) no-repeat}
.rename-alert-msg .rename-header .close-btn:hover{background-position:0 -50px}
.rename-alert-msg .rename-header h3{font-size:18px;text-align:center;font-weight:normal;color:#252525;padding-top:50px;line-height:18px;margin:0}
.rename-alert-msg .des{font-size:16px;line-height:28px;color:#888;padding:0 40px;margin:0;padding-top:56px}
.rename-alert-msg .rename-btns{padding-right:40px;padding-left:40px;padding-top:66px}
.rename-alert-msg .rename-btns .skip-btn,.rename-alert-msg .rename-btns .bind-btn{width:138px;height:48px;line-height:48px;color:#404040;font-size:18px;display:inline-block;border:1px solid #e0e0e0;text-align:center;border-radius:4px;float:left;cursor:pointer;text-decoration:none}
.rename-alert-msg .rename-btns .skip-btn{margin-right:20px}
.rename-alert-msg .rename-btns .skip-btn:hover{background-color:#e5e5e5}
.rename-alert-msg .rename-btns .bind-btn{border:1px solid #f33;background-color:#f33;color:#fff}
.rename-alert-msg .rename-btns .bind-btn:hover{background-color:#ff5758;color:#fff}
.rename-alert-msg .rename-btns .submit-btn{width:300px;height:50px;color:#fff;background-color:#f33;font-size:18px;line-height:50px;display:inline-block;cursor:pointer;text-align:center}
.rename-alert-msg .rename-btns .submit-btn:hover{background-color:#ff5758}
.rename-alert-msg .rename-form{padding:0 40px;padding-top:42px;font-size:16px;position:relative}
.rename-alert-msg .rename-form .input-txt{padding-bottom:15px;position:relative}
.rename-alert-msg .rename-form .input-txt.last{padding-bottom:35px}
.rename-alert-msg .rename-form .input-txt input{width:278px;height:48px;border:1px solid #e5e5e5;border-radius:4px;padding-left:20px;line-height:48px;background-color:transparent;color:#666}
.rename-alert-msg .rename-form .input-txt input:focus{border-color:#1d87e4;outline:0}
.rename-alert-msg .rename-form .input-txt input.code-input{width:138px;float:left}
.rename-alert-msg .rename-form .input-txt input input[type=text]::-ms-clear{display:none;width:0;height:0}
.rename-alert-msg .rename-form .input-txt .input-tips{position:absolute;top:15px;left:20px;font-size:16px;color:#bbb;z-index:-1}
.rename-alert-msg .rename-form .input-txt .code-btn{width:128px;height:48px;border:1px solid #77b7ef;border-radius:4px;color:#1d87e4;display:inline-block;line-height:50px;text-align:center;cursor:pointer;text-decoration:none;float:right}
.rename-alert-msg .rename-form .input-txt .code-btn:hover{background-color:#e8f2fb}
.rename-alert-msg .rename-form .input-txt .code-btn.z-disable{color:#888;border-color:#e5e5e5;background-color:#fff;cursor:not-allowed}
.rename-alert-msg .rename-form .error-tips{position:absolute;color:#f33;font-size:14px;margin:0;bottom:57px;left:40px}
.rename-alert-msg .rename-form .error-tips i{background:url(http://ursdoccdn.nosdn.127.net/webzj_cdn101/sprite_61fbe151ab715649c6b7c4ec39156201.png) no-repeat;height:15px;width:18px;background-position:-217px -34px;margin-top:-3px;vertical-align:middle;display:inline-block}
.rename-alert-msg .rename-form .error-tips.hidden{display:none}
.rename-alert-msg .rename-form .submit-btn{width:300px;height:50px;color:#fff;background-color:#f33;font-size:18px;line-height:50px;display:inline-block;cursor:pointer;text-align:center;text-decoration:none}
.rename-alert-msg .rename-form .submit-btn:hover{background-color:#ff5758}
.rename-alert-msg .rename-form .no-code{color:#888;font-size:12px;line-height:40px;display:inline-block;float:right;text-decoration:none;*padding-right:40px}
.rename-alert-msg .rename-form .no-code:hover{color:#1d87e4}
.rename-alert-msg .rename-form .no-code:hover .tips-sec{display:block}
.rename-alert-msg .rename-form .no-code .tips{position:absolute}
.rename-alert-msg .rename-form .tips-sec{width:223px;height:68px;border:1px solid #e6e599;background-color:#f9f9e5;border-radius:4px;color:#c2a945;font-size:12px;padding-top:11px;padding-left:15px;line-height:20px;position:absolute;right:-20px;bottom:0;display:none}
.rename-alert-msg .rename-form .tips-sec em{background:url(http://img6.cache.netease.com/tie/images/rn.png) no-repeat;background-position:0 -70px;width:10px;height:6px;position:absolute;display:inline-block;right:97px;bottom:-6px}
.rename-alert-msg .rename-form .tips-sec p{margin:0}
.rename-alert-msg .rename-success{margin:0 auto;text-align:center;padding-top:130px}
.rename-alert-msg .rename-success span{background:url(http://img6.cache.netease.com/tie/images/rn.png) no-repeat;width:53px;height:53px;background-position:0 0;display:inline-block}
.rename-alert-msg .rename-success p{margin:0;font-size:20px;color:#404040;line-height:20px;padding-top:17px}
