<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../public/xuArticle/bootstarp/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/xuArticle/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../public/xuArticle/css/common.css">
    <link rel="stylesheet" href="../../public/xuArticle/css/index.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>Title</title>
</head>
<body>
<header class="main-header pt40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="topTitle"><a class="">标题</a></p>
            </div>
        </div>
    </div>
</header>
<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li><a href="#">导航</a></li>
                    <li><a href="#">导航</a></li>
                    <li><a href="#">导航</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<section class="content-wrap mb50">
    <div class="container">
        <div class="row">
            <main class="col-lg-9 main-content">
                <article class="articleList">
                    <div class="articleTitle mb10"><p><a class="classify" href="#">javascript</a><a class="title" href="#">标题标题标题标题标题标题标题标题标题标题</a></p></div>
                    <div class="row">
                        <div class="col-lg-3 articleThumbnail">
                            <a href="#"><img src="../../public/xuArticle/images/timthumb.jpg"></a>
                        </div>
                        <div class="col-lg-9 articleAbstract">
                            <p><span class="abstract">摘要:</span>摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容
                                摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容...
                                <a class="ydqw pl5" href="#">阅读全文</a>
                            </p>
                        </div>
                        <p class="authSpan">
                            <span class="muted"><i class="fa fa-user"></i> 夏洛克丶旭</span>
                            <span class="muted"><i class="fa fa-clock-o"></i> 2018-01-01</span>
                            <span class="muted"><i class="fa fa-eye"></i> 阅读(500)</span>
                            <span class="muted articlepl"><i class="fa fa-commenting"></i><a href="#">评论(30)</a></span>
                            <span class="muted dz"><i class="fa fa-thumbs-up"></i>点赞(500)</span>
                        </p>
                    </div>
                </article>
                <article class="articleList">
                    <div class="articleTitle mb10"><p><a class="classify" href="#">javascript</a><a class="title" href="#">标题标题标题标题标题标题标题标题标题标题</a></p></div>
                    <div class="row">
                        <div class="col-lg-3 articleThumbnail">
                            <a href="#"><img src="../../public/xuArticle/images/timthumb.jpg"></a>
                        </div>
                        <div class="col-lg-9 articleAbstract">
                            <p><span class="abstract">摘要:</span>摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容
                                摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容...
                                <a class="ydqw pl5" href="#">阅读全文</a>
                            </p>
                        </div>
                        <p class="authSpan">
                            <span class="muted"><i class="fa fa-user"></i> 夏洛克丶旭</span>
                            <span class="muted"><i class="fa fa-clock-o"></i> 2018-01-01</span>
                            <span class="muted"><i class="fa fa-eye"></i> 阅读(500)</span>
                            <span class="muted articlepl"><i class="fa fa-commenting"></i><a href="#">评论(30)</a></span>
                            <span class="muted dz"><i class="fa fa-thumbs-up"></i>点赞(500)</span>
                        </p>
                    </div>
                </article>
                <article class="articleList">
                    <div class="articleTitle mb10"><p><a class="classify" href="#">javascript</a><a class="title" href="#">标题标题标题标题标题标题标题标题标题标题</a></p></div>
                    <div class="row">
                        <div class="col-lg-3 articleThumbnail">
                            <a href="#"><img src="../../public/xuArticle/images/timthumb.jpg"></a>
                        </div>
                        <div class="col-lg-9 articleAbstract">
                            <p><span class="abstract">摘要:</span>摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容
                                摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容...
                                <a class="ydqw pl5" href="#">阅读全文</a>
                            </p>
                        </div>
                        <p class="authSpan">
                            <span class="muted"><i class="fa fa-user"></i> 夏洛克丶旭</span>
                            <span class="muted"><i class="fa fa-clock-o"></i> 2018-01-01</span>
                            <span class="muted"><i class="fa fa-eye"></i> 阅读(500)</span>
                            <span class="muted articlepl"><i class="fa fa-commenting"></i><a href="#">评论(30)</a></span>
                            <span class="muted dz"><i class="fa fa-thumbs-up"></i>点赞(500)</span>
                        </p>
                    </div>
                </article>
                <article class="articleList">
                    <div class="articleTitle mb10"><p><a class="classify" href="#">javascript</a><a class="title" href="#">标题标题标题标题标题标题标题标题标题标题</a></p></div>
                    <div class="row">
                        <div class="col-lg-3 articleThumbnail">
                            <a href="#"><img src="../../public/xuArticle/images/timthumb.jpg"></a>
                        </div>
                        <div class="col-lg-9 articleAbstract">
                            <p><span class="abstract">摘要:</span>摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容
                                摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容...
                                <a class="ydqw pl5" href="#">阅读全文</a>
                            </p>
                        </div>
                        <p class="authSpan">
                            <span class="muted"><i class="fa fa-user"></i> 夏洛克丶旭</span>
                            <span class="muted"><i class="fa fa-clock-o"></i> 2018-01-01</span>
                            <span class="muted"><i class="fa fa-eye"></i> 阅读(500)</span>
                            <span class="muted articlepl"><i class="fa fa-commenting"></i><a href="#">评论(30)</a></span>
                            <span class="muted dz"><i class="fa fa-thumbs-up"></i>点赞(500)</span>
                        </p>
                    </div>
                </article>
                <article class="articleList">
                    <div class="articleTitle mb10"><p><a class="classify" href="#">javascript</a><a class="title" href="#">标题标题标题标题标题标题标题标题标题标题</a></p></div>
                    <div class="row">
                        <div class="col-lg-3 articleThumbnail">
                            <a href="#"><img src="../../public/xuArticle/images/timthumb.jpg"></a>
                        </div>
                        <div class="col-lg-9 articleAbstract">
                            <p><span class="abstract">摘要:</span>摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容
                                摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容摘要内容...
                                <a class="ydqw pl5" href="#">阅读全文</a>
                            </p>
                        </div>
                        <p class="authSpan">
                            <span class="muted"><i class="fa fa-user"></i> 夏洛克丶旭</span>
                            <span class="muted"><i class="fa fa-clock-o"></i> 2018-01-01</span>
                            <span class="muted"><i class="fa fa-eye"></i> 阅读(500)</span>
                            <span class="muted articlepl"><i class="fa fa-commenting"></i><a href="#">评论(30)</a></span>
                            <span class="muted dz"><i class="fa fa-thumbs-up"></i>点赞(500)</span>
                        </p>
                    </div>
                </article>
            </main>
            <aside class="col-lg-3 sidebar">
                <div class="widget mb20">
                    <h4 class="title">阅读排行榜</h4>
                    <div class="content">
                        <ul>
                            <li><a href="#">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li><a href="#">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li><a href="#">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li><a href="#">标题标题标题标题标题标题标题标题标题标题</a></li>
                            <li><a href="#">标题标题标题标题标题标题标题标题标题标题</a></li>
                        </ul>
                    </div>
                    <p class="upDown text-center"><i class="fa fa-angle-double-down fa-4x"></i></p>
                </div>
                <div class="widget mb20">
                    <h4 class="title">分类</h4>
                    <div class="content">
                        <ul>
                            <li><a href="#">Vue</a></li>
                            <li><a href="#">Node.js</a></li>
                            <li><a href="#">javascript</a></li>
                        </ul>

                    </div>
                    <p class="upDown text-center"><i class="fa fa-angle-double-down fa-4x"></i></p>
                </div>
            </aside>
        </div>
    </div>
</section>
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><span>Copyright © </span><a href="#">主页</a><span><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备xxxxxx号</a></span></div>
        </div>
    </div>
</footer>



<script src="../../public/xuArticle/js/jquery-2.2.0.min.js"></script>
<script src="../../public/xuArticle/bootstarp/js/bootstrap.min.js"></script>
<script src="../../public/xuArticle/js/common.js"></script>
</body>
</html>


