.newsapp{display:none}
.banner{position:relative;overflow:hidden;height:600px}
.banner .banner_img{position:relative;left:50%;margin-left:-960px;width:1920px;height:600px;text-align:center;-webkit-background-size:cover;background-size:cover;background-position:center center}
.banner .banner_img:before{position:absolute;top:0;left:0;z-index:12;content:"";display:block;width:100%;height:100%;background:url(images/filter.png) bottom center repeat-x}
.banner .title_img{position:relative;z-index:20;margin-top:170px}
.rjnav{height:84px;background:url(images/nav_bg.png) repeat}
.rjnav ul{position:relative;width:1000px;margin:0 auto}
.rjnav ul:before{content:"";display:block;position:absolute;right:0;top:0;width:1px;height:15px;background:#d2d2d2}
.rjnav li{float:left;position:relative;width:125px}
.rjnav li a{display:block;width:100%;font:bold 18px/84px "\5b8b\4f53";text-align:center;color:#444}
.rjnav li a:hover,.rjnav li a.current{color:#888;text-decoration:none}
.rjnav li:before{content:"";display:block;position:absolute;left:0;top:0;width:1px;height:15px;background:#d2d2d2}
.seleted{position:relative;width:1000px;height:333px;margin:0 auto;overflow:hidden}
.seleted ul{width:9100px}
.seleted .item{float:left;width:1000px;height:333px}
.seleted .item a{position:relative;display:block;width:100%;height:100%}
.seleted .item img{display:block;opacity:.2;filter:blur(2px);-webkit-filter:blur(2px);-ms-filter:blur(2px);-moz-filter:blur(2px);filter:progid:DXImageTransform.Microsoft.Blur(pixelRadius=2,MakeShadow=false)}
.seleted .item .name{position:absolute;left:50%;top:62px;width:28px;height:56px;margin-left:-14px;border:2px solid #888;font:12px/28px "\5b8b\4f53";color:#444;text-align:center}
.seleted .item .name:before{content:"";display:block;width:12px;height:1px;position:absolute;left:8px;top:50%;background:#888}
.seleted .item .text{position:absolute;top:152px;width:100%}
.seleted .item h2{width:100%;font:18px/24px "Microsoft Yahei";text-align:center;color:#444}
.seleted .item .line{display:block;width:270px;height:1px;margin:10px auto;background-color:#888}
.seleted .item .desc{display:block;width:100%;font:14px/24px "\5b8b\4f53";text-align:center;color:#888}
.seleted .ctrl{display:block;position:absolute;left:405px;bottom:20px;width:200px;font-size:0;text-align:center}
.seleted .ctrl span{display:inline-block;cursor:pointer;width:7px;height:7px;margin-right:10px;background:#888;border-radius:50%}
.seleted .ctrl span.swiper-pagination-bullet-active{background:#444}
.data_list .year{margin-top:70px;background:url(images/nav_bg.png) repeat;font:30px/186px "\5b8b\4f53";color:#444;text-align:center;letter-spacing:10px}
.data_list .month{position:relative;width:40px;height:56px;margin:110px auto 70px;padding:0 8px;border:2px solid #888;font:12px/28px "\5b8b\4f53";text-align:center;color:#444}
.data_list .month:before{content:"";display:block;position:absolute;left:12px;top:50%;width:32px;height:1px;background:#888}
.data_list .list_wrap{width:1000px;margin:0 auto;overflow:hidden;border-bottom:1px solid #ddd}
.data_list .list_wrap ul{width:1200px}
.data_list .item{float:left;width:310px;height:415px;margin-right:35px}
.data_list .item a.img{display:block;width:310px;height:200px;overflow:hidden}
.data_list .item a.img img{display:block;width:310px;height:200px;-webkit-transition:all .25s linear .1s;-moz-transition:all .25s linear .1s;-ms-transition:all .25s linear .1s;-o-transition:all .25s linear .1s;transition:all .25s linear .1s}
.data_list .item a.img:hover img{-webkit-transform:scale(1.05);-moz-transform:scale(1.05);-ms-transform:scale(1.05);-o-transform:scale(1.05);transform:scale(1.05)}
.data_list .item h2{margin-top:15px;font:20px/1.5 "Microsoft Yahei"}
.data_list .item h2 a{color:#252525}
.data_list .item h2 a:hover{text-decoration:none;color:#666}
.data_list .item .author{margin-top:5px;font:12px/18px "\5b8b\4f53";color:#888}
.data_list .item .author span{display:block;float:left;width:40px;height:16px;margin-right:6px;border:1px solid #e75f44;border-radius:8px;font:12px/16px "\5b8b\4f53";color:#e75f44;text-align:center}
.data_list .item .desc{height:44px;margin-top:25px;font:14px/22px "\5b8b\4f53";color:#888;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.data_list .item_l{width:1000px;margin-top:100px}
.data_list .item_l .img{display:block;width:1000px;height:360px;overflow:hidden}
.data_list .item_l .img img{display:block;width:100%;height:100%;-webkit-transition:all .25s linear .1s;-moz-transition:all .25s linear .1s;-ms-transition:all .25s linear .1s;-o-transition:all .25s linear .1s;transition:all .25s linear .1s}
.data_list .item_l .img:hover img{-webkit-transform:scale(1.05);-moz-transform:scale(1.05);-ms-transform:scale(1.05);-o-transform:scale(1.05);transform:scale(1.05)}
.data_list .item_l h2{float:left;margin-top:32px;font:20px/1.5 "Microsoft Yahei"}
.data_list .item_l h2 a{color:#252525}
.data_list .item_l h2 a:hover{text-decoration:none;color:#666}
.data_list .item_l .author{float:left;margin:38px 0 0 10px;font:12px/18px "\5b8b\4f53";color:#888}
.data_list .item_l .author span{display:block;float:left;width:40px;height:16px;margin-right:6px;border:1px solid #e75f44;border-radius:8px;font:12px/16px "\5b8b\4f53";color:#e75f44;text-align:center}
.data_list .item_l .desc{clear:both;padding-top:10px;font:14px/22px "\5b8b\4f53";color:#888}
.pb50{padding-bottom:50px}
body .others{margin-top:80px;padding-top:30px;background:url(images/nav_bg.png) repeat}
body .others .inner h4{height:85px}
body .share_component.abs{position:absolute;top:655px}
body .share_component{margin-left:620px}
.list_page,.list_pages{width:640px;height:30px;overflow:hidden;margin:100px auto 0 auto;text-align:center}
.list_page span,.list_pages span{display:inline-block;margin:0 5px}
.list_page a,.list_pages a{display:inline-block;width:22px;height:22px;line-height:22px;color:#888;border-radius:22px;-moz-border-radius:22px;-o-border-radius:22px;-webkit-border-radius:22px;text-align:center;cursor:pointer}
.list_page a:hover,.list_pages a:hover{text-decoration:none}
.list_page .on,.list_pages .on{color:#fff;background:#393a44}
.list_page .pre,.list_pages .pre,.list_page .next,.list_pages .next{border-radius:0;-moz-border-radius:0;-o-border-radius:0;-webkit-border-radius:0;width:60px;height:28px;overflow:hidden;line-height:1000px;background:url(http://img1.cache.netease.com/f2e/news/renjianlist/images/page.jpg) no-repeat;vertical-align:bottom}
.list_page .pre,.list_pages .pre{margin-right:10px}
.list_page .next,.list_pages .next{margin-left:10px;background-position:0 -31px}
.exclusive{width:1120px;margin:80px auto 0;overflow:hidden}
.exclusive .ttl{float:left;width:29px;height:215px;margin:68px 0 0 15px;background:url(images/sprite.png) no-repeat}
.exclusive .slide_wrap{float:left;overflow:hidden;width:960px;height:400px;margin-left:55px}
.exclusive .slide_wrap .slide_inner{width:870px;height:100%}
.exclusive .slide_wrap .slide{width:200000px}
.exclusive .slide_wrap .panel{float:left;width:870px}
.exclusive .slide_wrap .item{float:left;position:relative;width:250px;margin-right:40px;padding-bottom:25px;border-bottom:1px solid #ddd;cursor:pointer}
.exclusive .slide_wrap .item img{display:block;width:180px;height:180px;margin:0 auto;border-radius:50%}
.exclusive .slide_wrap .item h2{margin-top:22px;font:18px/1 "Microsoft Yahei";color:#888;text-align:center}
.exclusive .slide_wrap .item .atclist{margin-top:26px;min-height:90px}
.exclusive .slide_wrap .item .atclist li{position:relative;width:250px}
.exclusive .slide_wrap .item .atclist li h3{width:250px;text-indent:30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.exclusive .slide_wrap .item .atclist li a{font:normal 16px/30px "Microsoft Yahei";color:#888}
.exclusive .slide_wrap .item .atclist li a:hover{color:#aaa;text-decoration:none}
.exclusive .slide_wrap .item .atclist li:before{content:"";display:block;position:absolute;left:15px;top:13px;width:5px;height:5px;background:#888}
.exclusive .slide_wrap .item:before{content:"";display:block;position:absolute;left:120px;top:375px;width:30px;height:10px;background:url(images/arr.png) no-repeat}
.author_list{width:1200px;margin:50px auto 0}
.author_list .item{position:relative;width:770px;height:135px;padding:1px 0 1px 330px}
.author_list .item.active{height:auto;padding-bottom:25px;min-height:200px;background:url(images/nav_bg.png) repeat}
.author_list .item.active .atclist{display:block}
.author_list .item.active img{width:180px;height:180px;left:130px}
.author_list img{position:absolute;left:170px;top:15px;width:100px;height:100px;border-radius:50%}
.author_list h2{margin-top:46px;font:24px/1 "\5b8b\4f53";color:#252525}
.author_list .desc{margin-top:15px;font:14px/1.5 "\5b8b\4f53";color:#888}
.author_list .atclist{display:none;overflow:hidden;margin-top:26px}
.author_list .atclist li{float:left;position:relative;width:370px}
.author_list .atclist li h3{text-indent:1em}
.author_list .atclist li a{font:normal 16px/30px "Microsoft Yahei";color:#888}
.author_list .atclist li a:hover{color:#aaa;text-decoration:none}
.author_list .atclist li:before{content:"";display:block;position:absolute;left:0;top:13px;width:5px;height:5px;background:#888}
.indexing{position:absolute;left:50%;top:1225px;width:30px;margin-left:-640px;font:12px/22px "Microsoft Yahei";color:#888;text-align:center}
.indexing.noex{top:825px}
.indexing .gotop{content:"";display:block;width:20px;height:20px;background:url(images/arr.png) no-repeat center top;cursor:pointer;-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
.indexing li{width:22px;height:22px;cursor:pointer}
.indexing .current{padding:10px 0;font-size:20px;color:#fff}
.indexing .current span{display:block;width:22px;height:22px;background:#de0a00;border-radius:50%}
.indexing.fixed{position:fixed;top:50px}
.dx_list{width:1000px;margin:0 auto 0}
.dx_list .series{margin-top:55px}
.dx_list .title{width:1000px;cursor:pointer}
.dx_list .title img{display:block;width:1000px;height:360px}
.dx_list .title h2{margin-top:20px;height:36px;font:bold 20px/36px "Microsoft Yahei";color:#252525}
.dx_list .info{float:right;margin-top:-36px;width:150px}
.dx_list .info span{display:block;float:left;font:14px/22px "\5b8b\4f53"}
.dx_list .info .show{float:right;width:70px;height:20px;border:1px solid #e75f44;border-radius:2px;font:14px/20px "\5b8b\4f53";color:#e75f44;text-indent:10px}
.dx_list .info .show:hover{text-decoration:none}
.dx_list .info .show .showtip,.dx_list .info .show .hidetip{position:relative}
.dx_list .info .show .showtip:before,.dx_list .info .show .hidetip:before{content:"";position:absolute;right:-22px;top:2px;width:14px;height:8px;background:url(images/sprite2.png) no-repeat;background-position:0 -30px}
.dx_list .info .show .hidetip{display:none}
.dx_list .info .show .hidetip:before{background-position:0 0}
.dx_list .info .hide .showtip{display:none}
.dx_list .info .hide .hidetip{display:inline}
.dx_list .list{height:0;overflow:hidden}
.dx_list .list li{padding-top:35px}
.dx_list .list .index{float:left;width:309px;font:14px/24px "\5b8b\4f53";color:#e75f44;text-indent:60px}
.dx_list .list .article{float:left;width:690px;padding-bottom:20px;border-bottom:1px dotted #9c9c9c}
.dx_list .list .article h3{font:20px/24px "Microsoft Yahei"}
.dx_list .list .article h3 a{color:#252525;text-decoration:none}
.dx_list .list .article p{margin-top:25px;font:14px/22px "\5b8b\4f53";color:#888}

